%p
  ISAC Tokyo 2014 -
  = link_to 'en', controller: controller, action: action, locale: :en
  | 
  = link_to 'jp', controller: controller, action: action, locale: :jp
  |
  = link_to 'fr', controller: controller, action: action, locale: :fr
