%h1
  みんなでインフルエンザーを見ようへようこそ

%form{action: :inform, method: :get}
  %input{type: :submit, value: '登録', id: 'inform'}

%form{action: :hazard, method: :get}
  %input{type: :submit, value: 'ハザードMap', id: 'hazard'}

%hr
%p
  ISAC Tokyo 2014 - Help

