%h1
  全イベント
%table
  %thead
    %th
      IP
    %th
      軽度
    %th
      緯度
    %th
      タイムスタンプ(UTC)
  %tbody
  - @events.each do |e|
    %tr
      %td= e.ip
      %td= e.longitude
      %td= e.latitude
      %td= e.created_at.strftime('%Y-%m-%d %H:%M:%S')
