!!!
%html
  %head
    %title
      Crowdy
    %meta{name: :viewport, content: "initial-scale=1.0, user-scalable=no"}
    - if @agent =~ /iPhone/
      %meta{name: 'apple-mobile-web-app-capable', content: :yes}
    - elsif @agent =~ /iPhone/ or @agent =~ /Android/
      %meta{name: :viewport, content: "user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"}
    :css
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %script{type: 'text/javascript', src: "https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyAO_gjNW54LtbRI1bAFaD52L0hEBijbRpE&sensor=true"}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    :javascript
      $(document).ready(function () {
        var evt = document.querySelector('#coming-out');
        if (evt) {
          evt.onclick = function () { return confirm("本当に？お大事に…"); };
        }

        var moveTo = function (path) {
            window.location.href = "http://54.178.143.149/" + path;
        }
        var inform = document.querySelector('#inform');
        if (inform) {
          inform.onclick = function () { return moveTo("inform") };
        }
        var hazard = document.querySelector('#hazard');
        if (hazard) {
          hazard.onclick = function () { return moveTo("hazard") };
        }

        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
              if (21 < position.coords.latitude && position.coords.latitude < 49
                && 121 < position.coords.longitude && position.coords.longitude < 149) {
                var lat = document.querySelector("#latitude");
                if (lat)
                  lat.value = position.coords.latitude;
                var lon = document.querySelector("#longitude");
                if (lon)
                  lon.value = position.coords.longitude;
              }
          });
        }
      });
    = csrf_meta_tags
  %body
    = yield
